*{
    box-sizing: border-box;
}

:root{
    --main-color:#10cab7;
    --secondary-color:#2c4755;
    --section-padding:60px;
    --section-background: #f6f6f6;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: "Work Sans", sans-serif;
}

    .container{
    margin-left:auto;
    margin-right: auto;
    padding-left:15px;
    padding-right: 15px;
}

/* Components */
.special-heading{
    color: #ebeceb;
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin:0;
}

.special-heading + p{
    text-align: center;
    margin-top:-30px;
    color: #797979;
}

@media (max-width:768px) {
    .special-heading{
        font-size: 60px;
    }
    .special-heading + p{
        margin-top:-20px;
        font-size: 16px;
    }
}

/* End Components */

@media (min-width:768px) {
    .container{
        width:750px;
    }
}

@media (min-width:992px) {
    .container{
        width:970px;
    }
}

@media (min-width:1200px) {
    .container{
        width:1170px;
    }
}

.header{
    padding:20px;
}


.header .container{
    display: flex;
    justify-content:space-between;
    align-items: center;
}


.header .logo{
    width:60px;
}

.header .links{
    position: relative;
}

.header .links:hover .icon span:nth-child(2){
    width:100%;
}

.header .links .icon{
    display: flex;
    flex-wrap: wrap;
    width:30px;
    justify-content: flex-end;
}

.header .links .icon span{
    background:#333;
    margin-bottom:5px;
    height: 2px;
}

.header .links .icon span:first-child{
    width:100%;
}

.header .links .icon span:nth-child(2){
    width:70%;
    transition:.3s;
}

.header .links .icon span:nth-child(3){
    width:100%;
}

.header .links ul{
    margin:0;
    padding:0;
    list-style: none;
    background-color: #f6f6f6;
    position: absolute;
    right:0;
    top:calc(100% + 15px);
    min-width:200px;
    display: none;
    z-index: 1;
}

.header .links ul::before{
    content: "";
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent #f6f6f6 transparent;
    position: absolute;
    right:5px;
    top:-20px;
}

.header .links ul li a{
    text-decoration:none;
    display: block;
    padding:15px;
    color:#333;
    transform: .3s;
}

.header .links:hover ul{
    display: block;
}


.header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}


.header .links ul li:hover a{
    padding-left:25px;
}


.landing{
    background-image: url(../images/landing.jpg);
    background-size:cover;
    background-position: center;
    padding-left:10px;
    height:calc(100vh - 64px);
    position: relative;
    margin-left:3px;
}

.landing .intro-text{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    text-align: center;
    width:320px;
    max-width:100%;
}

.landing .intro-text h1{
    color:var(--main-color);
    font-size: 50px;
    margin:0px;
}

.landing .intro-text p{
    color:#333;
    line-height: 1.6;
    font-size: 19px;
}

.features{
    padding:var(--section-padding) 0px;
    background-color: var(--section-background);
}

.features .container{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-gap:20px;
    justify-content: space-between;
}

.features .feet{
    padding:20px;
    text-align: center;
}

.features .feet i{
    color:var(--main-color);
    font-size: 40px;
}

.features p{
    line-height: 1.8;
    color:#777;
    font-size: 17px;
}

.features h3{
    font-weight: 800;
    margin:30px 0px;
}



.services{
    padding-top:var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .services-content{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    margin-top:100px;
    position: relative;
}

.services .services-content .srv{
    display: flex;
    margin-bottom: 40px;
    margin-right:40px;
}


@media (max-width:768px) {
    .services .services-content .srv{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .services .services-content .srv i{
        margin-bottom:20px;
    }
}

.services .services-content .srv i{
    color:var(--main-color);
    font-size: 40px;
    /* flex-basis: 60px; do not know why does not work */
}

.services .services-content .srv .text {
    flex: 1;
}

.services .services-content .srv .text h3{
    margin:0 0 20px;
}

.services .services-content .srv .text p{
    color:#333;
    font-weight: 300;
    line-height: 1.6;
}

.services .services-content .image{
text-align: center;
position: relative;
}

.services .services-content .image::before{
    content: '';
    position: absolute;
    right:0;
    background-color: var(--secondary-color);
    width:100px;
    height: calc(100% + 100px);
    top:-50px;
}

.services .services-content .image img{
    width:260px;
    position: relative;
    z-index: 1;
}

@media (max-width:992px ) {
    .services .services-content .image {
        display: none;
    }
}


.protfolio{
    padding:var(--section-padding) 0px;
    background-color:var(--section-background);
}

.protfolio .protfolio-content{
    display: grid;
    grid-template-columns:repeat(auto-fill,minmax(300px,1fr));
    grid-gap:30px;
    margin-top:80px;
}

.protfolio .protfolio-content .card{
    background-color: white;
}

.protfolio .protfolio-content .card img{
    max-width:100%;
}

.protfolio .protfolio-content .card .info{
    padding:20px;
}
.protfolio .protfolio-content .card .info h3{
    font-size: 20px;;
    font-weight: 800;
    margin:0;
}

.protfolio .protfolio-content .card .info p{
    font: 18px;
    color:#777;
    line-height: 1.6;
    margin-bottom: 0;
}

.about{
    padding-top:var(--section-padding);
    padding-bottom: calc(var(--section-padding) + 60px);
}

.about-content{
    margin-top:100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media (max-width:991px) {
    .about-content{
        flex-direction: column;
        text-align: center;
    }
}

.about-content .image{
    position: relative;
    width:250px;
    height: 375px;
}

@media (max-width:991px) {
    .about-content .image{
        margin:0 auto 60px auto;
    }
}

.about-content .image::before{
    content: '';
    position: absolute;
    left:-20px;
    top:-50px;
    height:calc(100% + 80px);
    width:100px;
    background-color: #ebeced;
    z-index: -1;
}

.about-content .image::after{
    content: '';
    position: absolute;
    top:-40px; 
    right:-150px;
    width:120px;
    height: 300px;
    border-left:60px solid var(--main-color);
    border-bottom: 60px solid var(--main-color);
    z-index: -1;
}

@media (max-width:991px) {
    .about-content .image::after,
    .about-content .image::before{
    display: none;
    }
}

.about-content .image img{
    max-width: 100%;
}

.about-content .text {
    flex-basis: 500px;
}

.about-content .text p:first-of-type{
    font-weight: bold;
    line-height: 2;
    margin-bottom: 50px;
}

.about-content .text hr{
    width: 50%;
    border-color: var(--main-color);
}

.about-content .text p:last-of-type{
    line-height: 2;
    color:#777;
}

.contact{
    background-color:var(--section-background);
    padding:var(--section-padding) 0px;
}

.contact .info{
    padding:var(--section-padding) 0px;
    text-align: center;
}

.contact .info .label{
    font-size: 40px;
    font-weight: 800;
    color:var(--secondary-color);
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info .link{
    text-decoration: none;
    display: block;
    color:var(--main-color);
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 30px;
}

.contact .info .social{
    display: flex;
    justify-content: center;

}

.contact .info .social i{
    color:var(--secondary-color);
    margin-left:10px;
}

@media (max-width:767px) {
    .contact .info .link,
    .contact .info .label{
        font-size:30px;
    }
}

.footer{
    background-color: var(--secondary-color);
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 10px;
    color:white;
}

.footer span{
    font-weight: bold;
    color: var(--main-color);
    margin:0px 5px;
}